[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
request = "*"
cloudinary = "==1.10.0"
django = "==1.9.7"
django-activity-stream = "==0.6.2"
"django-auth0" = "==0.0.2"
django-cloudinary-storage = "==0.2.3"
django-cors-headers = "==1.1.0"
django-el-pagination = "==2.1.2"
django-heroku = "==0.2.0"
django-model-utils = "==2.5.1"
django-notifications-hq = "==1.2"
django-smuggler = "==0.7.0"
django-widget-tweaks = "==1.4.1"
djangorestframework = "==3.4.4"
gunicorn = "==19.6.0"
jsonfield = "==1.0.3"
pillow = "==5.0.0"
"psycopg2" = "==2.7.3.2"
pytz = "==2017.3"
whitenoise = "==3.3.1"
dj-database-url = "==0.4.2"

[dev-packages]

[requires]
python_version = "3.6.6"
