{% extends 'app/user/main_template.html' %}
{% load staticfiles %}
{% load humanize %}
{% load el_pagination_tags %}

{% block cont-header %}
    <section class="content-header">
        <h1>
            Home
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'app:dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>

            <li class="active">Home</li>
        </ol>
    </section>
{% endblock %}

{% block body %}
    {#    <script src="{% static 'app/js/pusher.min.js' %}"></script>#}
    {#    <script>#}
    {##}
    {#        // Enable pusher logging - don't include this in production#}
    {#        Pusher.logToConsole = true;#}
    {##}
    {#        var pusher = new Pusher('528a97eda2db586836e3', {#}
    {#            encrypted: true#}
    {#        });#}
    {##}
    {#        var channel = pusher.subscribe('test_channel');#}
    {#        channel.bind('my_event', function(data) {#}
    {#            alert(data.message);#}
    {#        });#}
    {#    </script>#}

    <div class="content-wrapper" style="min-height: 1126px;">
        <!-- Content Header (Page header) -->


        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle"
                                 src="{{ request.user.get_profile.picture.url }}" alt="User profile picture">

                            <h3 class="profile-username text-center">{{ user.full_name }}
                            {% if user.is_verified %}<i class="fa fa-check btn-primary img-circle"></i>{% endif %}

                            </h3>

                            <p class="text-muted text-center">{{ user.user_type }}</p>

                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Followers</b> <a class="pull-right">{{ user.get_no_followers }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Following</b> <a class="pull-right">{{ user.get_no_following }}</a>
                                </li>
                                {% if user.user_type == 'Driver' %}
                                    <li class="list-group-item">
                                        <b>Rides shared</b> <a class="pull-right">{{ user.no_of_rides_shared }}</a>
                                    </li>
                                {% endif %}
                               
                                <li class="list-group-item">
                                    <b>Posts</b> <a class="pull-right">{{ user.get_no_broadcast }}</a>
                                </li>
                            </ul>

                            {#                            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>#}
                        </div>
                        <!-- /.box-body -->

                        <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title "><i class="fa fa-users"></i>&nbsp;Followings</h3>

                            <!-- /.box-tools -->
                        </div>
                        <div class="box-body box-profile">
                            <div class="row">
                                {% for friend in user.follower.all %}

                                    <div class="col-xs-3">
                                        <a href="{{ friend.followee.get_absolute_url }}"><img
                                                data-original-title="{{ friend.followee }}"
                                                data-toggle="tooltip" class="direct-chat-img tooltip-link"
                                                src="{{ friend.followee.get_profile.picture.url }}"
                                                alt="Message User Image"></a>
                                    </div>
                                    {% cycle '' '' '' '<div class="clearfix"></div><br>' %}

                                {% endfor %}


                            </div>

                            {#                            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>#}
                        </div></div>
                    </div>

                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title "><i class="fa fa-users"></i>&nbsp;Followers</h3>

                            <!-- /.box-tools -->
                        </div>
                        <div class="box-body box-profile">
                            <div class="row">
                                {% for friend in user.followee.all|slice:'8' %}

                                    <div class="col-xs-3">
                                        <a href="{{ friend.follower.get_absolute_url }}"><img
                                                data-original-title="{{ friend.follower }}"
                                                data-toggle="tooltip" class="direct-chat-img tooltip-link"
                                                src="{{ friend.follower.get_profile.picture.url }}"
                                                alt="Message User Image"></a>
                                    </div>
                                    {% cycle '' '' '' '<div class="clearfix"></div><br>' %}

                                {% endfor %}


                            </div>

                            {#                            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>#}
                        </div>
                        <!-- /.box-body -->
                    </div>

                    <!-- /.box -->

                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">

                    <div class="nav-tabs-custom">

                        <div class="tab-content">
                            <div class="tab-pane active" id="text-broadcast">
                                <!-- Post -->
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="{{ user.get_profile.picture.url }}"
                                             alt="user image">
                                        <span class="username">
                                <a href="{% url 'broadcast:index' %}"><i class="fa fa-bullhorn"></i>&nbsp;Posts</a>

                                </span>
                                        <span class="description"><i class="fa fa-globe"></i>&nbsp;Share what's happening around you</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <form id="text-upload" method="post" action="{% url 'broadcast:upload_text' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <textarea class="form-control" rows="4" name="text-text"></textarea>
                                        </div>
                                        <input id="share_to" type="hidden" name="share_to" value="public">

                                        <div class="field buttons input-group">
                                            <button type="submit"
                                                    class="btn btn-sm bg-blue btn-flat form-control-static">Share
                                            </button>
                                            &nbsp;
                                            <div class="btn-group" style="float: right;">
                                                <button type="button" class="btn dropdown-toggle btn btn-flat"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                    <span name="share_to-icon" class="fa fa-globe"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a onclick="setEveryone()" class="link"><i class="fa fa-globe"></i>&nbsp;Everyone</a></li>
                                                    <li><a onclick="setFollowers()" class="link"><i class="fa fa-users"></i>&nbsp;Followers</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </form>

                                </div>
                                <!-- /.post -->

                                <!-- /.post -->
                            </div>


                            <!-- /.tab-pane -->
                            <div class="tab-pane " id="picture-broadcast">
                                <!-- The timeline -->
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="{{ user.get_profile.picture.url }}"
                                             alt="user image">
                                        <span class="username">
                                <a href="#"><i class="fa fa-bullhorn"></i>&nbsp;Posts</a>

                                </span>
                                        <span class="description"><i class="fa fa-globe"></i>&nbsp;Share what's happening around you</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <form id="image-upload" action="{% url 'broadcast:upload_image' %}" method="post" enctype="multipart/form-data" >
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <label for="InputFile">Upload an Image</label>

                                            <input type="file" id="InputFile" name="image-image" accept="image/*"/>

                                            <p class="help-block">(Write a description below)</p>
                                        </div>

                                        <div class="form-group">
                                            <textarea class="form-control" rows="2" name="text-image"></textarea>
                                        </div>
                                        <input type="hidden" name="share_to" value="public">

                                        <div class="field buttons input-group">
                                            <button type="submit"
                                                    class="btn btn-sm bg-blue btn-flat form-control-static">Share
                                            </button>
                                            &nbsp;
                                            <div class="btn-group" style="float: right;">
                                                <button type="button" class="btn dropdown-toggle btn btn-flat"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                    <span name="share_to-icon" class="fa fa-globe"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a onclick="setEveryone()"><i class="fa fa-globe"></i>&nbsp;Everyone</a></li>
                                                    <li><a onclick="setFollowers()"><i class="fa fa-users"></i>&nbsp;Followers</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </form>

                                </div>
                            </div>

                         
                            <!-- /.tab-pane -->

                            <!-- /.tab-pane -->
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#text-broadcast" data-toggle="tab" aria-expanded="true">Text</a>
                            </li>
                            <li class=""><a href="#picture-broadcast" data-toggle="tab" aria-expanded="false">Image</a>
                            </li>
                            
                        </ul>
                        <!-- /.tab-content -->
                    </div>


                    <div class="box box-info">
                        <div class="box-header with-border">

                            <h3 class="box-title "><i class="fa fa-info"></i>&nbsp;Getting Started</h3>

                            <!-- /.box-tools -->
                        </div>

                        <div class="box-body ">
                            <p class="lead text-center">Welcome</p>

                            
                            <!-- /.mail-box-messages -->
                        </div>
                    </div>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>
    <script src="{% static 'app/customnotify/broadcastHandler.js' %}"></script>

{% endblock %}

